


<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
     <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>

     <li class="nav-item" *ngFor="let parent of parentMenu">
        <a class="nav-link collapsed" 
        [attr.data-bs-target]="'#nav_' + parent.id"
        data-bs-toggle="collapse" href="#">
         <i class="bi bi-menu-button-wide"></i>
         <span>{{parent.displayName}}</span>
         <i class="bi bi-chevron-down ms-auto"></i> 
        </a>
         <ul 
          [id]="'nav_' + parent.id" 
          class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li *ngFor="let child of getChildren(parent.id)"> <a [routerLink]="child.routePath"> <i class="bi bi-circle"></i><span>{{child.displayName}}</span> </a></li>
         </ul>
     </li>

     <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li> <a routerLink="/add_new_product/0"> <i class="bi bi-circle"></i><span>Add Prodcut</span> </a></li>
              <li> <a routerLink="/product_list"> <i class="bi bi-circle"></i><span>List Prodcut</span> </a></li>
              <li> <a routerLink="/add_new_unit"> <i class="bi bi-circle"></i><span>Add Unit</span> </a></li>
         </ul>
     </li> -->
     




  </ul>
</aside>