
<div class="card">
  <div class="card-header"> <h3 class="card-title">Role manage</h3></div>
  <div class="card-body">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4 col-sm-6">
        
          <input type="hidden" formControlName="roleId"/>
         
            <div class="input-group mb-3">
             <div>
                 <label class="" >Role Name</label>
             
              <input type="text" class="form-control" formControlName="roleName"/>
             </div>

                  <span *ngIf="roleForm.controls['roleName'].dirty && roleForm.hasError('required','roleName')" class="text-danger">*Role Name is required*</span>

            </div>

          <div class="input-group mb-3">
            <button type="submit"  class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-danger">reset</button>
         </div>

        </div>
        <div class="col-md-8 col-sm-6">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Role Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of roleList">
                  <td>{{item.roleName}}</td>
                  <td>
                    <button class="btn btn-success">Access</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

    </form>
  </div>
</div>



