
  <lib-ng-toast></lib-ng-toast>
<div *ngIf="(_router.url=='/login')">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!(_router.url=='/login')">
  <app-header></app-header>
<app-sidebar ></app-sidebar>
<main id="main" class="main">


  <!-- <div class="pagetitle"*ngIf="!(_router.url === '/register' || _router.url === '/' || _router.url === '/pages-error404')">
    <h4>Dashboard</h4>
     <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
       </ol>
    </nav>
 </div> -->

  <router-outlet></router-outlet>

</main>
</div>

<!-- <app-footer *ngIf="!(_router.url === '/register' || _router.url === '/' || _router.url === '/pages-error404')" ></app-footer> -->


