# Build folders
**/bin
**/obj

# IDE and editor files
**/.vscode
**/*.user
**/*.swp
**/Thumbs.db
**/.git
**/.github

# Solution and Docker files
**/*.sln
**/*.dockerignore
Dockerfile*

# Do NOT ignore .csproj files globally!
# Remove or comment out: **/*.csproj